<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>商品列表</h1>
<a href="https://www.mi.com/" target="_blank">
    <img src="/static/a1.jpg" alt="" style="width: 150px">
</a>
<a href="https://www.mi.com/xiaomi-14-pro?spmref=MiShop_PC.mihomepage.mtl_65d72d32799ab50001e7bc59.1">
    <img src="/static/a2.jpg" alt="" style="width: 150px">
</a>
<a href="https://www.mi.com/shop/order/fcode">
    <img src="/static/a3.jpg" alt="" style="width: 150px">
</a>

</body>
</html>