<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
<h1>一级标题</h1>
<div><span>时间</span>
    <span>20240416</span></div>
<h2>二级标题</h2>
<h3>三级标题</h3>
<div>山东蓝翔</div>
<div>挖掘机找蓝翔
    <a href="http://127.0.0.1:5000/get/news">查看更多</a>
    <a href="https://zhuanlan.zhihu.com/p/673032550">查看更多</a>
</div>
<span>山东蓝翔</span><span>挖掘机找蓝翔</span>
<h1>运营商列表</h1>
<ul>
    <li>中国移动</li>
    <li>中国联通</li>
    <li>中国电信</li>
</ul>
<h1>运营商列表</h1>
<ol>
    <li>中国移动</li>
    <li>中国联通</li>
    <li>中国电信</li>
</ol>
<h1>数据表格</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>年龄</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>10</td>
        <td>张驰</td>
        <td>20</td>
    </tr>
    </tbody>
</table>
</body>
</html>